In [1]:
import pandas
import numpy as np

In [3]:
dfeval = pandas.read_csv('../Datasets/movies/movies_users.txt',sep='\t',header=None)
dfeval

         0     1  2          3
0      196   242  3  881250949
1      186   302  3  891717742
2       22   377  1  878887116
3      244    51  2  880606923
4      166   346  1  886397596
...    ...   ... ..        ...
99995  880   476  3  880175444
99996  716   204  5  879795543
99997  276  1090  1  874795795
99998   13   225  2  882399156
99999   12   203  3  879959583

[100000 rows x 4 columns]

### Matrix of evaluations

|         | User 1 | User 2 | User 3 | User 4 | ...    |
|---------|--------|--------|--------|--------|--------|
| Movie 1 | 1      | 5      | 2      | 1      | ...    |    
| Movie 2 | 5      | 0      | 3      | 0      | ...    |
| Movie 3 | 2      | 1      | 0      | 2      | ...    |
| ...     | ...    | ...    | ...    | ...    | ...    |

In [7]:
nusers = 943
nmovies = 1682
m = np.zeros((nmovies,nusers))
for row in dfeval.values:
    user = row[0]
    movie = row[1]
    eva = row[2]
    m[movie-1,user-1] = eva

In [10]:
dfmovies = pandas.read_csv('../Datasets/movies/movies_description.txt',sep="|",header=None)
names = dfmovies.values[:,1]
print(names)

['Toy Story (1995)' 'GoldenEye (1995)' 'Four Rooms (1995)' ...
 'Sliding Doors (1998)' 'You So Crazy (1994)'
 'Scream of Stone (Schrei aus Stein) (1991)']

In [13]:
dfm = pandas.DataFrame(m,index=names,columns=np.arange(nusers)+1)
dfm.to_csv('../Datasets/movies/movies_evaluations.csv')

# Filtering movies and users

In [15]:
moviesEval = np.zeros((nmovies))
usersEval = np.zeros((nusers))
for i in range(nmovies):
    moviesEval[i] =  np.sum(m[i,:]!=0)
for i in range(nusers):
    usersEval[i] = np.sum(m[:,i]!=0)
idxMovies = np.argsort(moviesEval)
idxMovies = idxMovies[-50:]
idxUsers = np.argsort(usersEval)
idxUsers = idxUsers[-50:]
print(idxMovies)
print(idxUsers)

[ 27 201 233  63 175 215 182 117  14  24 327  95  21 301 275 317   8 422
 194 256 268 747 167  68 172 150 209  78 404 203 312 221 171 116 236  97
   6  55 126 173 120 299   0 287 285 293 180  99 257  49]
[523 150 649 362 144 915 641 398 726 268 888 473 267 803 333 550 405 129
 560 757 795 591 895 416 879 377 434  58 200 221  91 292 307 681  93   6
 845 428 278 180 392 233 302 536 415 275 449  12 654 404]

In [17]:
mf = m[idxMovies,:]
mf = mf[:,idxUsers]
namesf = names[idxMovies]
dfmf = pandas.DataFrame(mf,index=namesf,columns=idxUsers)
dfmf.to_csv('../Datasets/movies/movies_evaluations.csv')