In [1]:
import pandas
import numpy as np

In [2]:
dfmoviesusers = pandas.read_csv('../Datasets/movies/movies_users.txt',sep='\t',header=None)
dfmoviesusers

         0     1  2          3
0      196   242  3  881250949
1      186   302  3  891717742
2       22   377  1  878887116
3      244    51  2  880606923
4      166   346  1  886397596
...    ...   ... ..        ...
99995  880   476  3  880175444
99996  716   204  5  879795543
99997  276  1090  1  874795795
99998   13   225  2  882399156
99999   12   203  3  879959583

[100000 rows x 4 columns]

### Matrix of evaluations

|         | User 1 | User 2 | User 3 | User 4 | ...    |
|---------|--------|--------|--------|--------|--------|
| Movie 1 | 1      | 5      | 2      | 1      | ...    |    
| Movie 2 | 5      | 0      | 3      | 0      | ...    |
| Movie 3 | 2      | 1      | 0      | 2      | ...    |
| ...     | ...    | ...    | ...    | ...    | ...    |

In [3]:
nusers = 943
nmovies = 1682
m = np.zeros((nmovies,nusers))
for row in dfmoviesusers.values:
    user = row[0]
    movie = row[1]
    ev = row[2]
    m[movie-1,user-1] = ev

In [4]:
dfmovies = pandas.read_csv('../Datasets/movies/movies_description.txt',sep='|',header=None)
names = dfmovies.values[:,1]
print(names)

['Toy Story (1995)' 'GoldenEye (1995)' 'Four Rooms (1995)' ...
 'Sliding Doors (1998)' 'You So Crazy (1994)'
 'Scream of Stone (Schrei aus Stein) (1991)']

In [6]:
dfm = pandas.DataFrame(m,index=names)
dfm.to_csv('../Datasets/movies/movies_evaluations.csv')

### Filtering movies and users

In [11]:
moviesEval = np.zeros((nmovies))
usersEval = np.zeros((nusers))
for i in range(nmovies):
    moviesEval[i] = np.sum(m[i,:]!=0)
for i in range(nusers):
    usersEval[i] = np.sum(m[:,i]!=0)
idxMovies = np.argsort(moviesEval)
idxUsers = np.argsort(usersEval)
idxMovies = idxMovies[-50:]
idxUsers= idxUsers[-50:]

In [12]:
mf = m[idxMovies,:]
mf = mf[:,idxUsers]
namesf = names[idxMovies]

dfmf = pandas.DataFrame(mf,index=namesf)
dfmf.to_csv('../Datasets/movies/movies_evaluations.csv')